* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(5, 10, 15, 0.8); /* Глубокий сине-черный под твою Kitty */
    color: #00d7ff;
    border-bottom: 2px solid #0080ff; /* Твоя любимая синяя рамка */
}

#workspaces button {
    padding: 0 10px;
    color: #475569;
}

#workspaces button.active {
    color: #00ffff;
    background: rgba(0, 128, 255, 0.2);
    border-bottom: 2px solid #00ffff;
}

#clock, #cpu, #memory, #custom-shark {
    padding: 0 15px;
    margin: 4px 0;
}

#custom-shark {
    font-size: 18px;
    color: #00ffff;
}
#custom-cava {
    font-family: "JetBrainsMono Nerd Font", "monospace";  /* или любой шрифт с nerd-fonts */
    font-size: 8px;              /* маленькие полоски */
    padding: 0 6px 0 6px;
    color: #89b4fa;               /* цвет баров, под твою тему */
    background: rgba(30, 30, 46, 0.4);
    border-radius: 6px;
    margin: 0 4px;
}
#cava {
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
    font-size: 12px;               /* размер полосок */
    letter-spacing: -1px;          /* плотнее бары */
    padding: 0 6px;
    margin: 0 4px;
    color: #89b4fa;                /* цвет полосок — под твою тему */
    background: rgba(30, 30, 46, 0);
    /*border-radius: 6px; */
}

/* При тишине можно сделать менее заметным */
#cava.empty {
    color: #555;
}
