* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(5, 10, 15, 0.8);
    color: #00d7ff;
    border-bottom: 2px solid #0080ff;
}

#workspaces button {
    padding: 0 10px;
    color: #475569;
}

#workspaces button.active {
    color: #00ffff;
    background: rgba(0, 128, 255, 0.2);
    border-bottom: 2px solid #00ffff;
}

#clock, #cpu, #memory, #custom-shark {
    padding: 0 15px;
    margin: 4px 0;
}

#custom-shark {
    font-size: 18px;
    color: #00ffff;
}
